@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans{
     font-family: "Work Sans", sans-serif;
}

.active{
    border: 2px solid #23be0a;
    border-radius: 10px;
    color: #23be0a;
    padding-left: 8px;
    padding-right: 8px;
}